body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .countdown-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  input[type="date"] {
    padding: 8px;
    font-size: 1rem;
  }
  
  button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-item {
    margin: 10px;
    font-size: 2rem;
    flex: 1;
    text-align: center;
  }
  
  .countdown-item span {
    font-size: 3rem;
    font-weight: bold;
    color: #f44336;
  }
  
  .container {
    width: 100vw;
  }
  
  .confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
  }
  
  .confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
  }
  .confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
  }
  .confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
  }
  
  @keyframes confetti-slow {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
  }
  @keyframes confetti-medium {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
  }
  @keyframes confetti-fast {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 600px) {
    .countdown-item {
        font-size: 1.5rem;
    }
  
    .countdown-item span {
        font-size: 2.5rem;
    }
  }